.header {
  /* Layout */
  display: flex;
  justify-content: space-around;
  /* height: 15%; */

  /* Color */
  background-color: #E2725B;

  color: #3d405b;
  font-size: 150%;
  font-style: italic;
  font-weight: bold;

  margin: 1%;
  padding: 1%
};

.buttonBar {
  justify-content: space-between;
}