.header {
  /* Layout */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  min-height: 65px;

  /* Color */
  background-color: rgb(82, 82, 82);



  color: white;
  font-size: 200%;
  font-style: italic;
  font-weight: bold;


};